/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
  --light: #e5e5e5;
  --white: #ffffff;
  --dark: #1b1c20;
  --black: #000000;
  --gray: #757575;
  --green: #95eac1;
  --transparent: rgba(0, 0, 0, 0.2);

  --font: "Oswald", sans-serif;

  --font-size-medium: 18px;
  --font-size-small: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
