.slingshot_stories {
  background-color: var(--white);
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  padding: 85px 65px 40px;
}

.slingshot_stories__header {
  display: flex;
  justify-content: center;
  height: 150px;
}
.slingshot_stories__header-image {
  height: 100%;
}

.slingshot_stories__videos {
  display: grid;
  gap: 20px 10px;
  grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
  justify-content: center;
}

@media (max-width: 760px) {
  .slingshot_stories {
    padding: 70px 15px 40px;
  }
  .slingshot_stories__header {
    height: 94px;
  }
}
